<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ServiceLoggerName" value="ServiceLogger" />
    <add key="Port" value="9001" />
    <add key="CpuSettingsFile" value="settings\cpu.config" />
    <add key="VariableSettingsFile" value="C:\data\ControlWorks\Settings\variables.config"/>
    <add key="SourceStationId" value="95"/>



  </appSettings>

  <connectionStrings>
    <add name="MyNewAccountsDbContext" connectionString="data source=devdb;initial catalog=MyNewAccountsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="InnovestContextDb" connectionString="data source=devdb;initial catalog=Innovest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="iMAPConnectionString" connectionString="Data Source=devdb;Initial Catalog=iMAP;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="InnovestDBConnectionString" connectionString="Data Source=devdb;Initial Catalog=Innovest;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MYSQLConnectDSN-NewAccountsDB" connectionString="Data Source=devdb;Initial Catalog=MyNewAccountsDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>